.navbar-component {
  background-color: white;
  border-radius: 1.4rem;
  padding: 0.5rem;
  margin-top: 3rem;
  // display: flex;
  align-items: center;
}

.navbar-component img {
  width: 95px;
  height: 45px;
}

.nav_links {
  display: flex;
}

.nav_links li {
  padding-left: 27px;
  padding-right: 27px;
  font-size: 16px;
  cursor: pointer;
}

.app_main__prev_work__portfolio__item__img {
  height: fit-content !important;
}

.app_main__prev_work__portfolio__item__img img {
  height: fit-content !important;
}

.work_container img {
  width: 100%;
}

.work_btns button {
  background-color: #630a00;
  padding: 1.5rem;
  border-radius: 0.9rem;
}

.work_wrapper {
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  position: relative;
}

.team_text {
  display: flex;
  justify-content: center;
  margin: 70px 0;
}

.team_text_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 51%;
  gap: 10px;
}

.team_text_cont h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

.card_wrapper {
  border: 1.5px solid #928e8e;
  align-items: start;
}

.card_wrapper img {
  height: 100%;
  margin: 0;
  width: 100%;
  border-radius: 0.7rem !important;
}

.card_wrapper p {
  font-size: 13px !important;
}

.service_wrapper {
 background-image: url('../media/landing/service/Bgservice.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.service_container {
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  padding-top: 8%;
}

.service_text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 51%;
  gap: 10px;

  span {
    color: #dc1701;
  }
}

.collab_wrapper {
  margin-top: 120px;
  display: inline-block;
}

.bg_collab {
  height: 90px;
}

.collab_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collab_text h2 {
  font-weight: 600 !important;
  font-size: 2.2rem;
}

.colab_text_wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: fit-content;
  position: relative;
}

.collab_card_text {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.collab_card_text p {
  font-size: 16px !important;
}

.collab_card {
  border-radius: 1.5rem;
  height: 135px;
  justify-content: center;
  border: 1px solid #f5e8e8;
  align-items: center;
  display: flex;
  position: relative;
  width: 280px;
  background-color: #f1e5e55c;
  box-shadow: 2px -1px 11px #f5e8e8;
  flex-direction: column;
}

.contact_wrapper {
  justify-content: center;
  display: flex;
  align-items: center;
  height: fit-content;
}

.contact_container {
  display: flex;
  width: 78%;
}

.contact_text {
  font-size:2.2rem ;
  font-weight: 600;
}

.contact_btn {
  background: linear-gradient(to right, #630A00B2, #0B0B0BB2);
  border-radius: 2rem;
  padding: 1.3rem;
}

/**** Media Queries ****/

@media (max-width: 1157px) {
  .service_wrapper {
    background-image: url('../media/landing/service/Bgservice.png');
    margin-top: 0 !important;
  }
.service_text {
  width: 100%;
}
.team_text_cont{
  width: 90%;
}
}
